body {
    background-color: #1a1818 !important;   
}

.caveat-nameArtist {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #ffefef;
    font-size: 10vw;  
  }

.caveat-portfolio {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;  
}
  .marquee-content span {
    font-size: 50px;
    margin-right: 15px;
}
  /* Contenedor principal */
  .marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    color: #ffefef;
    padding: 10px 0;
    position: relative;
}
/* Contenedor del texto en bucle */
.marquee-content {
    display: flex;
    animation: marquee 15s linear infinite;
    min-width: 100%;
}
/* Animación */
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.galeria img {
    width: 200px;
    height: auto;
    margin: 10px;
    cursor: pointer;
    
}
img{
    border-radius: 5%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 240, 240);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#imagenes-obra {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
}

@media (max-width: 400px) {
    #imagenes-obra {
        flex-wrap: wrap;
    }
}
.textCream {
    color: #ffefef;
}